## One Hot Encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
X = pd.DataFrame({"input1": [1,2,3,4,5],
                 "input2": ["A","A","B","B","C"],
                 "input3": ["X","X","X","Y","Y"]})

In [3]:
categorical_vars = ["input2", "input3"]

In [16]:
one_hot_encoder = OneHotEncoder(sparse=False, drop = 'first')

In [17]:
encoder_vars_array = one_hot_encoder.fit_transform(X[categorical_vars])

In [18]:
encoder_feature_names = one_hot_encoder.get_feature_names(categorical_vars)

C:\Users\sophi\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [19]:
encoder_vars_df = pd.DataFrame(encoder_vars_array, columns = encoder_feature_names)

In [20]:
X_new = pd.concat([X.reset_index(drop = True), encoder_vars_df.reset_index(drop = True)], axis = 1)

In [21]:
X_new.drop(categorical_vars, axis = 1, inplace = True)

In [22]:
X_new

   input1  input2_B  input2_C  input3_Y
0       1       0.0       0.0       0.0
1       2       0.0       0.0       0.0
2       3       1.0       0.0       0.0
3       4       1.0       0.0       1.0
4       5       0.0       1.0       1.0